# Visual Studio .vs folder
.vs/
**/.vs/
.vs/**

# Visual Studio 임시 파일 및 캐시
.vs/
[Bb]in/
[Oo]bj/
out/

# 기타 라이브러리 캐시
.vsconfig

# Build folders
Debug/
Release/
x64/
x86/
**/x64/
**/x86/
**/Debug/
**/Release/

# Compiled files
*.obj
*.exe
*.ilk
*.pdb
*.lib
*.dll
*.user

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Temporary
*.log
*.vcxproj
GPUProgramming/ModelLoading.vcxproj.filters
